<?xml version="1.0"?>
<doc>
    <assembly>
        <name>Enterprise.AutoMapper</name>
    </assembly>
    <members>
        <member name="P:Enterprise.AutoMapper.Options.AutoMapperOptions.EnableAutoMapper">
            <summary>
            Determines if AutoMapper services will be registered.
            Defaults to true.
            </summary>
        </member>
        <member name="P:Enterprise.AutoMapper.Options.AutoMapperOptions.Assemblies">
            <summary>
            This is a collection of assemblies that contain mapping profiles.
            If there are no assemblies added to this collection, a fallback will be used that loads solution assemblies.
            </summary>
        </member>
    </members>
</doc>
